body {
    background: #051435;
    text-align: center;
}

h1 {
    margin: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    color: rgb(28, 113, 125);
    font-size: 3em;
}

button {
    margin: 40px 5px auto;
    text-align: center;
    color: #1da345;
    background: #696969;
    border: solid 2px #808080;
    border-radius: 5px;
    padding: 16px 42px 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

#text_area {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
